.timeline{
  border-left: 3px dashed;
  border-color: #321011 !important;
  margin:0; padding: 32px;
}

li::marker{
  color: #321011;
  font-size: 48px;
}

li {
  list-style-type: disc;
  font-size: 24px;
  margin-top: 40px;
  border-left: 500px;
  transition-property: all;
  transition-duration: 1s;
}

ul li:hover{
  font-weight: bold;
}

ul li li:hover{
  font-weight: 300;
}

li li {
  list-style-type: none;
  font-size: 36px;
}

ul{
  padding: 0;
  font-family: 'Roboto';
  font-weight: 300;
  width: 70%;
  min-width: 200px;
}

p{
  padding: 0 0 0 5%;
}